

.rodape {
    background-color: black;
    height: 10vh;
}

section div {
    padding: 3%;
    
}


.projetos{
    padding-top: 3%;
}

.minha-imagem {
    background-color: black;
    display: flex;
    padding: 5%;
}

.sobremim {
    padding-left: 6%;
}