
.rodape {
    background-color: black;
    height: 10vh;
}

section div {
    padding: 3%;
    
}


.projetos {
    padding-top: 3%;
}

.sobreEimagem {
    background-color: aqua;
    padding: 5%;

}

.meunome {
    padding-left: 6%;
    color: white;
    
}
.sobremim {
    padding-left: 6%;
    background-color: black;
    
}

.containersobreEimage {
    display: flex;
    background-color: black;
}

.containerIMAGEM {
    margin-top: 2%;
}