
.rodape {
    background-color: black;
    height: 10vh;
}

section div {
    padding: 3%;
    
}


.projetos {
    padding-top: 3%;
}

.sobreEimagem {
    background-color: aqua;
    padding: 5%;

}

.meunome {
    padding-left: 6%;
    color: black;
    font-size: xx-large;
  
    
}
.sobremim {
    padding-left: 6%;
    color: white;
    
}

.pSobremim {
    color: white;
}

.containersobreEimage {
    display: flex;
    background-color: #242323;
}

.containerIMAGEM {
    margin-top: 2%;
}

.social {
    background-color: black;
}

footer {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}